/*===================BANNER PART START ==============*/ 
 #counter{
     background: url(../images/counter.png) no-repeat center / cover ;
     padding: 45px 0 40px;
     position: relative;
     z-index: 1;
     &::after{
         content: '';
         position: absolute;
         inset: 0;
         height: 100%;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.9);
         z-index: -1;
     }
     .counter_item{
         h3{
             font-size: 40px;
             font-family: var(--main_font);
             font-weight: 700;
             line-height: 30px;
             margin-bottom: 3px;
         }
         p{
             font-size: 16px;
             line-height: 30px;
             font-weight: 400;
             text-transform: capitalize;
             font-family: var(--main_font);
             line-height: 30px;
         }
     }
 }
/*===================BANNER PART ENDS ===========*/