
/* stiky header  part start  */
.stiky_hed{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    // background-color: rgba(226, 62, 56, 0.8);
    background-color: rgba(152, 98, 98, 0.431);
    z-index: 999;
    transition: all linear 0.4s;
}

// STICKEY HEADER 
.bac_to_top{
   
    i{
        height: 40px;
        width: 40px;
        background-color:var(--brnad);
        line-height: 40px;
        text-align: center;
        position: fixed;
        right: 30px;
        bottom: 10%;
        z-index: 999;
        color: var(--white);
        cursor: pointer;
    }
}
// STICKEY HEADER 